

head
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title Catfacts.io


template(name='center')

  main#app
    h1#title Catfacts.io
       small Meewow

    +yield 'body'

  section(style="display: none")#preload
    img(src='/img/cutie-pu-tutie.png')


template(name='signup')
  form.signup.input-group
    div.input-group-btn
      if disableInput
        button(type="submit" disabled=disableSubmit).btn.btn-success.loading
          img(src='/img/cutie-pu-tutie.png' width="20" height="20").spiny-cat
      else 
        button(type="submit" disabled=disableSubmit).btn.btn-success 
          | Ping

    input(type="text" 
          disabled=disableInput 
          name='phone-number' 
          placeholder="your international number" 
          autocomplete="off").form-control

  p.twitter-handle
    small
      a(href="https://twitter.com/Angus_KST") 
        | @Angus_KST

  if showWarning
    div(role="alert").alert.alert-warning.fade.in   
      | Hmm, that doesn't seem right, are you sure it's an internal number?
      | If you're unsure just check to see how your phone formats the number.

  if showSuccess
    div(role="alert").alert.alert-success.fade.in   
      | It's almost there!
 
